@media (min-width: 360px) {
  #text {
    font-size: 1.75rem;
  }

  #author {
    font-size: 1.25rem;
  }
}

@media (max-width: 360px) {
  #text {
    font-size: 1.25rem;
  }

  #author {
    font-size: 0.75rem;
  }
}
