#quote-box {
  width: 500px;
  margin-top: 20px;
  padding: 40px 50px;
  background-color: #f8efed;
  border-radius: 5px;
  border: none;
}

@media (max-width: 550px) {
  #quote-box {
    width: 90%;
    padding: 20px;
  }
}
