#quote-box {
  margin-top: 20px;
  background-color: #f8efed;
  border-radius: 5px;
  border: none;
}

@media (max-width: 575px) {
  #quote-box {
    width: 90%;
    max-width: 550px;
    padding: 20px;
  }
}

@media (min-width: 576px) {
  #quote-box {
    width: 90%;
    max-width: 550px;
    padding: 30px 35px;
  }
}

@media (min-width: 992px) {
  #quote-box {
    width: 90%;
    max-width: 550px;
    padding: 40px 50px;
  }
}
